body {
    background: linear-gradient(135deg, #5e4f83, #180a47);
}

.portfolio-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow:
        0 20px 60px rgba(0, 0, 0, 0.6),
        0 0 80px rgba(102, 126, 234, 0.3);


    transition: all 0.3s ease;
}

.portfolio-container:hover {
    transform: translateY(-2px) scale(1.01);
    box-shadow:
        0 30px 80px rgba(0, 0, 0, 0.7),
        0 0 100px rgba(102, 126, 234, 0.5);

}

.btn-update {
    background-color: #898be0;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;

    transition: all 0.3s ease;
}


.btn-update:hover {
    background-color: #5e4f83;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: #180a47 0px 5px 15px;

}


.btn-delete {
    background-color: #af1a1a8e;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;

    transition: all 0.3s ease;
}

.btn-delete:hover {
    background-color: #b12525;
    color: #000000;
    transform: translateY(-3px);
    box-shadow: #180a47 0px 5px 15px;
}

.btn-back {
    display: block;
    margin: 30px auto;
    background-color: #14b8a6;
    margin-top: 30px;
    padding: 20px 40px;
    font-size: 20px;
    border: 2px solid #0f766e;
    border-radius: 5px;

    transition: all 0.3s ease;
}

.btn-back:hover {
    background-color: #0f766e;
    border-color: #14b8a6;
    color: #e0fdf4;
    transform: translateY(-3px);
    box-shadow: #180a47 0px 5px 15px;

}