{% extends 'main/base.html' %}
{% load static %}

{% block extra_head %}
<title>My Blog - Posts</title>
<link rel="stylesheet" href="{% static 'posts/post_list.css' %}">
{% endblock %}

{% block content %}
<div class="page-wrapper">

    <div class="welcome-box mt-2">
        <h1 class="text-center">Latest Posts</h1>
        <h5 class="text-center">Explore the newest posts below.</h5>
    </div>

    <div class="posts-section mt-4">

        {% if posts %}
        {% for post in posts %}
        <div class="post-card">
            <h3 class="post-title">{{ post.title }}</h3>
            <p>{{ post.content|truncatewords:30 }}</p>

            <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary ">Read More</a>

            <p class="text-muted mt-4 ">Published on {{ post.created_at|date:"F j, Y" }} by <a
                    href="{% url 'users_portfolio' post.author.username %}"
                    class="post-author">{{post.author.username}}</a>
            </p>
        </div>
        {% endfor %}
        {% else %}
        <div class="post-card text-center">
            <h5>No posts yet 😢</h5>
        </div>
        {% endif %}

    </div>

</div>
{% endblock %}